<div class="row galleryRow">
  <div class="col-sm-6 card">
    <!-- <img [src]="productModel?.productImageName[0]" class="responsive"> -->

    <img [src]="productModel?.productImageName[0]" class="responsive">
  </div>
  <div class="col-sm-6  productDiscription">
    <h3>{{productModel?.productName}}</h3>
    <span>{{productModel?.productDescription}}</span>
    <div class="rating col-sm-10">
      <span class="labelStock" [ngClass]="displayClass">{{stockItemStatus}}</span>
    </div>
    <div class="productPrice">
      <h4><span>&#x20B9;</span> {{productModel?.price}}</h4>
      <h6 class="text-dark">{{productModel?.color}}</h6>
    </div>
    <div class="form-group">
      <h6 >minimum order: {{productModel?.moq}}</h6>
      <h6>1 pack = {{packSum}} piece</h6>
    </div>
    <div class="form-group">
      <div>
        <label class="mr15"><strong>SIZE:</strong>
        </label>
        <ul class="nav sizeNav mt10" role="tablist">
          <li role="presentation" *ngFor="let data of productModel?.size">
            <div class="sizeText"><a>{{data.sizeName}}</a></div>
          </li>
        </ul>
      </div>
      <div>
       <!--  <label><small>ratio:</small>
        </label>
        <ul class="nav ratioNav" role="tablist">
          <li role="presentation" *ngFor="let data of productModel?.size">
            <div class="sizeRatio"><a>{{data.ratio}}</a></div>
        </ul> -->
        <label class="mr15"><strong>RATIO:</strong>
        </label>
        <ul class="nav sizeNav mt10" role="tablist">
          <li role="presentation" *ngFor="let data of productModel?.size">
            <div class="sizeText"><a>{{data.ratio}}</a></div>
          </li>
        </ul>
      </div>
    </div>
    <div class="form-group">
      <div class="alert alert-danger" role="alert" *ngIf="noPrductAdd">
        Please add minimum Qty <strong>{{productModel?.moq}}</strong>
      </div>
    </div>

    <div class="form-group">
      <div class="inputCartButton">
        <span class="input-group-btn">
          <button type="button" class="quantity-left-minus btn btn-primary btn-number" [disabled]="packCount === 1"
            (click)="actionMinus(packCount)" data-type="minus" data-field="">
            <span>-</span>
          </button>
        </span>
        <input type="text" id="quantity" name="quantity" class="form-control 
            text-center input-number" [value]="packCount" min="1" max="100" disabled>
        <span class="input-group-btn">
          <button type="button" class="quantity-right-plus btn btn-primary btn-number" [disabled]="updateQtyTrue"
            (click)="actionPlus(packCount)" data-type="plus" data-field="">
            <span>+</span>
          </button>
        </span>
      </div>
    </div>
    <div class="form-group" *ngIf="!updateQtyTrue">
      <button (click)="skuProduct(productModel._id, packCount, productModel?.moq, packSum, productModel.size)"
        class="addToCartButton">ADD TO
        CART</button>
    </div>
    <div class="form-group" *ngIf="updateQtyTrue">
      <button (click)="skuProduct(productModel._id, packCount, productModel?.moq, packSum, productModel.size)"
        class="addToCartButton">COMING SOON</button>
    </div>
    <div class="form-group">
    </div>
  </div>