    <div class="row">
      <div class="col-md-12">
          <div class="p-3">
              <span class="addButton" (click)="addCard()">ADD CARD</span>
          </div>
      </div>
    </div>
    <div class="row gridRow border m-2" *ngFor="let card of cardDetailModel">
      <div class="col-md-6">
        <div class="text-secondary">
          <strong>Card Name: </strong><span>{{card.cardName}}</span>
        </div>
        <div class="text-secondary"><strong>Card Number: </strong>{{card.cardNumber }}</div>
        <div class="text-secondary"><strong>Expiry Month: </strong>{{card.expiryMonth }}</div>
        <div class="text-secondary"><strong>Expiry Year: </strong>{{card.expiryYear }}</div>
      </div>
      <div class="col-md-12 border-top">
        <div class="row">
          <div class="col-md-6 actionClass">
            
          </div>
          <div class="col-md-6 actionClass" (click)="deleteCard(card._id)">
            Delete
          </div>
        </div>
      </div>
    </div>