<div class="row">
  <div class="col-md-12"
    *ngFor="let bannerImg of bannerModel; let i = index" class="imgResponsive">
    <div *ngIf="i === 0">
    <img [src]="bannerImg.bannerImage">
    </div>
  </div>
</div>





<!-- 

<br>
<br>
<div class="banner-img-1">
  <div class="jumbotron-fluid">
    <div class="banner-img1">
      <img src="../../../assets/img/banner/Banner 1.jpg" class="img-banner">
    </div>
  </div>
  <br>
  <br>
  <div class="container">
    <div class="poster-img">
      <img src="../../../assets/img/banner/Poster.jpg" class="poster-img">
    </div>
  </div>
  <br>
  Strips-->

  <!--<div class="container">
    <div class="jumbotron" >
      <div class="row">
        <div class="col-md-4">
          <div class="strips">
            <h1 class="h1-tag0">Why Lencott?</h1>
            <p class="content">
              Megastar is one of the
              most experienced
              agency. We serve to
              better service for our
              happy clients. And also
              strong to keep our promise.
            </p>
          </div>
        </div>
        <div class="col-md-4">

          <div class="strips">
            <h1 class="h1-tag">User Firendly</h1>
            <p class="content">Megastar best user
              friendly and easy
              customized template.
              You can easily make
              your expected layout.
            </p>
          </div>
          <div class="strips">
            <h1 class="h1-tag">
              24/7 Supported
            </h1>
            <p class="content">
              Top-notch support
              from our experts
              get you the answers
              you need, fast. No limits
              on queries
            </p>
          </div>
        </div>
        <div class="col-md-4">
          <div class="strips">
            <h1 class="h1-tag">Responsive Design</h1>
            <p class="content">
              Our responsive templates
              give you the distinct
              look and feel
              while being very
              easy to adapt and customize.
            </p>
          </div>
          <div class="strips">
            <h1 class="h1-tag">
              Our Guarantee
            </h1>
            <p class="content">
              If you think
              your purchase here
              with us does not
              provide you the matching value,
              get 100(1aeb3ae8ace5d32c88cc75f0291
              fb0be4f7716819808bbe5140ab253a45b916d)
              refund today!
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="container">
    <h2 class="tag-h2">
      Helping Small Businesses just like yours
    </h2>
    <div class="row">
      <div class="col-md-3">
        <h1 class="numb">25</h1>
      </div>
      <div class="col-md-3">
        <h1 class="numb">37</h1>
      </div>
      <div class="col-md-3">
        <h1 class="numb">64</h1>
      </div>
      <div class="col-md-3">
        <h1 class="numb">100</h1>
      </div>
    </div>
  </div>
  <br>
  <br>
  
  <div class="container">
    <h1 class="tag-h11">
      What Our Clients Say
    </h1>
    <p style="text-align: center; padding-bottom: 40px; color: rgb(145, 145, 145);">
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Enim ullam doloremque temporibus
      nihil perspiciatis iusto laudantium necessitatibus quaerat, dolores debitis fugit eligendi nostrum dignissimos
      incidunt voluptates atque ab voluptatum labore!
    </p>
    <div class="row">
      <div class="col-md-4">
        <p style="text-align: center; color: rgb(70, 70, 70);">
          I am so happy because I
          found this Real Estata, 
          and it just made my life        
           easier.
        </p>
      </div>
      <div class="col-md-4">
        <p style="text-align: center; color: rgb(73, 73, 73);">
          I am so happy because I found this Real Estata,
          and it just made my life easier.
        </p>
      </div>
      <div class="col-md-4">
        <div class="box-img">          
            <p style="text-align: center; color: rgb(61, 61, 61);">           
                I am so happy because I found this Real Estata, and it just made my life easier.
              </p>
        </div>
        <div class="box-text">
      </div>
      </div>
    </div>
  </div> -->