<!-- <div class="row">
    <div class="col-md-12 col-lg-12 col-xl-12"
     *ngFor="let bannerImg of banner; let i = index" style="padding: 0px">
        <div *ngIf="slideIndex === i">
            <img  [src]="bannerImg.bannerImage" class="imgResponsive">
        </div>
    </div>
</div>
<a class="prev" (click)="minusSlides(slideIndex)">&#10094;</a>
<a class="next" (click)="plusSlides(slideIndex)">&#10095;</a>
<app-promotion
[promotionsModel]="promotionTable" [slideMultiStart]="slideMultiStart"
[sliderLength]= "sliderLength"
[slideMultiLength] = "slideMultiLength"
 [slideMultiEnd]="slideMultiEnd" (changeMultiPlusSlider)="plusMultiCarousel($event)" 
 (changeMultiMinusSlider)="minusMultiCarousel($event)"
 ></app-promotion>
<div class="p-2 subHeader"><span></span></div>
<div class="row">
  <div class="col-md-12 col-lg-12 col-xl-12 col-md-12 col-12" >
      <img  src="./../../../assets//img/Poster.jpg" class="imgResponsive">
  </div>
</div> -->
<!-- <app-hot-product></app-hot-product> -->

<!-- <div class="banner-img-1">
    <div class="jumbotron-fluid">
        <img src="../../../assets/img/banner/Banner 1.jpg" class="imageSize">
    </div>
</div>
 -->
 <div class="row">
     <div class="col-md-12" style="padding: 0px;">
            <img src="../../../assets/img/banner/Banner 1.jpg" class="imageSize">
     </div>
 </div>


<h1> FRESH NEW LOOKS</h1>
<div class="container">
    <div class="row">
        <div class="col-md-4"></div>
        <div class="col-md-4 divFour">
            <div class="shopButton" style="padding-left: 25px;">
                <button class="button button1">SHOP WOMEN</button>
                <button class="button button1">SHOP MEN</button>
            </div>
        </div>
        <div class="col-md-4"></div>
    </div>
</div>
<br>
<div class="container-fluid">
    <div class="productImg">
        <div class="row">
            <div class="col-md-6">
                <img src="../../../assets/img/Lee/May23-Flex-Motion-DESK-TAB.jpg" class="productImgs">
                <h4 class="hFour">SUPER CUTE, SUPER STRETCH</h4>
                <h4 style="text-align: center;">
                    <a href="#">
                        <span class="buttons" style="text-align: center; padding-left: 15px;">SHOP COLLECTION</span>
                    </a>
                </h4>
            </div>
            <div class="col-md-6">
                <img src="../../../assets/img/Lee/May23-Extreme-DESK-TAB.jpg" class="productImgs">
                <h4 class="hFour">SUPER CUTE, SUPER STRETCH</h4>
                <h4 style="text-align: center;">
                    <a href="#">
                        <span class="buttons" style="text-align: center; padding-left: 15px;">SHOP STYLES</span>
                    </a>
                </h4>
            </div>
        </div>
    </div>
<br>
    <div class="bannerModel">
            <img src="../../../assets/img/Lee/bannerModel 2.jpg" class="modelBanner">
        </div>


    <div class="stripImages">
        <img src="../../../assets/img/Lee/Strip.jpg" class="stripImg">
    </div>
    <br>
    <br>
    <div class="threeImg">
        <div class="row">
            <div class="col-md-4">
                <img src="../../../assets/img/Lee/Product/64022-Shop-the-Look-Home-Page-Oh-So-Moto.jpg"
                    class="threeImages">
                <h4 class="hFour">OH SO MOTO</h4>
                <h4 style="text-align: center;">
                    <a href="#">
                        <span class="buttons" style="text-align: center; padding-left: 15px;">SHOP THE LOOK</span>
                    </a>
                </h4>
            </div>
            <div class="col-md-4">
                <img src="../../../assets/img/Lee/Product/64022-Shop-the-Look-Home-Page-Raise-TheBar-3.jpg"
                    class="threeImages">
                <h4 class="hFour">RAISE THE BAR</h4>
                <h4 style="text-align: center;">
                    <a href="#">
                        <span class="buttons" style="text-align: center; padding-left: 15px;">SHOP THE LOOK</span>
                    </a>
                </h4>
            </div>
            <div class="col-md-4">
                <img src="../../../assets/img/Lee/Product/64022-Shop-the-Look-Home-Page-Street-Style (1).jpg"
                    class="threeImages">
                <h4 class="hFour">STREET STYLE</h4>
                <h4 style="text-align: center;">
                    <a href="#">
                        <span class="buttons" style="text-align: center; padding-left: 15px;">SHOP THE LOOK</span>
                    </a>
                </h4>
            </div>
        </div>
    </div>
    <br>
  <div class="bannerModel">
      <img src="../../../assets/img/Lee/bannerModel.jpg" class="modelBanner">
  </div>  

<br>
<br>
<h3 class="hThree">SHOP OUR INSTA FAVORITES</h3>
<br>
<h4 class="hTen">Tag @lencottjeans and show us how you #MoveYourLencott</h4>
<br>
    <div class="finalImages">
            <div class="row">
                    <div class="col-md-4">
                        <img src="../../../assets/img/Lee/Final/BlueCollarPrep.jpg" class="finalImg">
                            
                        <h4 class="hFour">OH SO MOTO</h4>
                        <h4 style="text-align: center;">
                            <a href="#">
                                <span class="buttons" style="text-align: center; padding-left: 15px;">SHOP ALL MENS</span>
                            </a>
                        </h4>
                    </div>
                    <div class="col-md-4">
                            <img src="../../../assets/img/Lee/Final/joandkemp.jpg" class="finalImg">
                        <h4 class="hFour">RAISE THE BAR</h4>
                        <h4 style="text-align: center;">
                            <a href="#">
                                <span class="buttons" style="text-align: center; padding-left: 15px;">QUICK SHOP</span>
                            </a>
                        </h4>
                    </div>
                    <div class="col-md-4">
                            <img src="../../../assets/img/Lee/Final/danixmichelle.jpg" class="finalImg">
                        <h4 class="hFour">STREET STYLE</h4>
                        <h4 style="text-align: center;">
                            <a href="#">
                                <span class="buttons" style="text-align: center; padding-left: 15px;">SHOP ALL WOMENS</span>
                            </a>
                        </h4>
                    </div>
                </div>
    </div>
    <br>
    <h3 class="fourText">See how people #LIVEINLENCOTT across India.</h3>
    <br>
    <div class="fourImg">
            <div class="row">
                    <div class="col-md-3">
                        <img src="../../../assets/img/Lee/Four Img/2100273-HERO.jpg" class="finalImg">
                            
                        <h4 class="hFour">OH SO MOTO</h4>
                        <h4 style="text-align: center;">
                            <a href="#">
                                <span class="buttons" style="text-align: center; padding-left: 15px;">QUICK SHOP</span>
                            </a>
                        </h4>
                    </div>
                    <div class="col-md-3">
                                        
                            <img src="../../../assets/img/Lee/Four Img/2102044-HERO.jpg" class="finalImg">
                        
                                
                        <h4 class="hFour">RAISE THE BAR</h4>
                        <h4 style="text-align: center;">
                            <a href="#">
                                <span class="buttons" style="text-align: center; padding-left: 15px;">QUICK SHOP</span>
                            </a>
                        </h4>
                    </div>
                    <div class="col-md-3">
                            <img src="../../../assets/img/Lee/Four Img/6MW0237-HERO.jpg" class="finalImg">
                        <h4 class="hFour">STREET STYLE</h4>
                        <h4 style="text-align: center;">
                            <a href="#">
                                <span class="buttons" style="text-align: center; padding-left: 15px;">QUICK SHOP</span>
                            </a>
                        </h4>
                    </div>
                                        <div class="col-md-3">
                            <img src="../../../assets/img/Lee/Four Img/6MW0236-HERO.jpg" class="finalImg">
                        <h4 class="hFour">STREET STYLE</h4>
                        <h4 style="text-align: center;">
                            <a href="#">
                                <span class="buttons" style="text-align: center; padding-left: 15px;">QUICK SHOP</span>
                            </a>
                        </h4>
                    </div>
                </div>
    </div>
<br>

</div>